.cover{
  width:1000px;
  height:1500px;
  transform:scale(0.75);
}
.hobbies{
  width:1000px;
  height:1375px;
  transform:scale(0.75);
}
.digital{
  width:1000px;
  height:1375px;
  transform:scale(0.75);
}
.dig{
  width:1000px;
  height:1375px;
  transform:scale(0.75);
}
.tran1{
  width:1000px;
  height:1375px;
  transform:scale(0.75);
}
.tran2{
  width:1000px;
  height:1375px;
  transform:scale(0.75);
}